<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Wanderlust</title>
</head>
<body>
    <h1>All Listings</h1>
    <form action="/listings/new" method="get">
    <button>Create New!</button>
    </form>
    <%for(listing of allListings){%>
        <div class="allListings">
            <ul>
            <li class="list">
       <a href="/listings/<%=listing._id%>"> <h3 class="title"><%=listing.title%></h3></a>
    

</li>
</ul>

            </div>
    <%}%>
    
</body>
</html>