<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <form  method="post" action="/listings">
        <div class="newForm">
            <h2>Create a New Listing</h2>
        Title:
        <br>
        <input type="text" name="listing[title]" >
        <br>
        <br>
        Desc:
        <br>
        <textarea name="listing[description]"  rows="10" cols="35"></textarea>
        <br>
        <br>
        imgUrl:
        <br>
        <input type="text" name="listing[img]"> 
        <br>
        <br>
        Price:
        <br>
        <input type="number" name="listing[price]" >
        <br>
        <br>
        Location:
        <br>
        <input type="text" name="listing[location]" >
        <br>
        <br>
        Country:
        <br>
        <input type="text" name="listing[country]" >
        <br>
        <br>
        <button>Submit</button>
        </div>
    </form>
</body>
</html>